*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
  position: relative;
  font-family: "Raleway", serif;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
}

.logo-link {
  text-decoration: none;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.logo-icon {
  color: #7c4ee4;
  font-size: 2rem;
}

.logo-text {
  color: #333333;
  font-family: "Raleway", serif;
  font-weight: 700;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 5em 1em 1em 1em;
  color: #4c4c4c;
  font-weight: 600;
  background-color: #7c4ee4;
}

.post-label {
  color: #ffffff;
}

.post-input,
.post-body {
  font-family: "Raleway", serif;
  color: #4c4c4c;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
}

.post-body {
  resize: none;
}

.post-btn {
  font-family: "Raleway", serif;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  color: #373737;
  width: 25%;
  min-width: 55px;
  cursor: pointer;
}

.posts-container {
  padding: 1em;
  display: flex;
  flex-direction: column-reverse;
}

.blog-title {
  color: #333333;
  font-weight: 700;
}

.blog-body {
  font-family: "Roboto", serif;
  color: #666666;
}
